[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "*"
requests = "*"
python-dateutil = "*"
flask = "*"
waitress = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
