[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
openai = "<3.0"
requests = "*"
python-dateutil = "*"
flask = "*"
waitress = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.12"
